@import "../../css/vars.css";

.container {
  color: var(--color-text);
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-evenly;
  margin-top: 15px;
}

.projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
  background: linear-gradient(0deg, #19376d 50%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 20px;
}

.project img {
  border-radius: 5px;
  width: 50px;
}

.projectDetails {
    display: grid;
    gap: 10px;
    grid-template-rows: 50px 50px auto auto 80px;
    min-height: 500px;
  }

.projectDetails h3 {
  font-size: 25px;
  font-weight: 500;
}

.projectDetails p {
  font-size: 20px;
  padding-top: 10px;
}

.projectDetails ul {
  list-style-position: inside;
  font-size: 20px;
  list-style-type: disc;
}

.linkDiv{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.projectDetails button {
    background: rgb(46, 104, 211);
    color: var(--color-text);
    border: none;
    border-radius: 80px;
    font-size: 20px;
    padding: 10px 20px;
    margin: 15px;
    cursor: pointer;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}